@model UpdateUserRoleViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div>
    <partial name="_ValidationSummary"/>
    
    <div class="row">
        <div class="col-6">
            <div class="card">
                
                <div class="card-header">
                    Delete Role
                </div>
                
                <div class="card-body">
                    <form asp-action="DeleteRole" method="post">
                                        
                        <div class="row">
                            <h4 class="col-4">Roles List</h4>
                            <ul class="list-group col-8">
                                @foreach (var role in (Model?.Roles ?? new List<string>()).Select((value, index) => new {value, index}).OrderBy(x => x.value))
                                {
                                    <li class="list-group-item">
                                        <input type="radio" asp-for="UpsertRole" value="@role.value"/>
                                        <span asp-validation-for="UpsertRole" class="text-danger"></span>
                                        @role.value
                                    </li>
                                }
                            </ul>
                        </div>
    
                        <div class="row mt-4">
                            <button type="submit" class="btn btn-outline-danger w-50">Delete Role</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
            
        <div class="col-6">
            <div class="card">
                       
                <div class="card-header">
                    Add Role
                </div>
                
                <div class="card-body">
                    <form asp-action="AddRole" method="post">
                                                           
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Role</span>
                                    </div>
                                    <input asp-for="UpsertRole" type="text" class="form-control" placeholder="Name" aria-label="Role name" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
    
                        <div class="row mt-4">
                            <button type="submit" class="btn btn-outline-success w-50">Add Role</button>
                        </div>
                    </form>
                </div>
                       
            </div> 
        </div>
        
    </div>
    
    <div class="row mt-2">
        <div class="col-12">
            <div class="card">

                <div class="card-header">
                    Bind/Unbind User and Roles
                </div>
                
                <div class="card-body">

                    <form method="post">

                        <div class="row">
                            <h4 class="col-4">Roles List</h4>
                            <ul class="list-group col-8">
                                @foreach (var role in (Model?.Roles ?? new List<string>()).Select((value, index) => new {value, index}).OrderBy(x => x.value))
                                {
                                    <li class="list-group-item">
                                        <input type="radio" asp-for="CurrentRole" value="@role.value"/>
                                        <span asp-validation-for="CurrentRole" class="text-danger"></span>
                                        @role.value
                                    </li>
                                }
                            </ul>
                        </div>

                        <div class="row mt-2">
                            <h4 class="col-4"> Users List</h4>
                            <ul class="list-group col-8">
                                @foreach (var user in (Model?.Users ?? new List<UsersViewModel>()).Select((value, index) => new {value, index}).OrderBy(x => x.value.Email))
                                {
                                    <li class="list-group-item">
                                        <input type="radio" asp-for="UserEmail" value="@user.value.Email"/>
                                        <span asp-validation-for="UserEmail" class="text-danger"></span>
                                        @user.value.Email
                                        <h6 class="text-dark">@(string.Join(", ", user.value.Roles.Select(r => r.Name).OrderBy(r => r)))</h6>
                                    </li>
                                }
                            </ul>
                        </div>

                        <div class="row mt-4">
                            <button type="submit" asp-action="AddUserInRole" class="btn btn-outline-success w-25">Add user in Role</button>
                            <button type="submit" asp-action="RemoveUserFromRole" class="btn btn-outline-danger ml-2 w-25">Remove user from role</button>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </div>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
