@model IdentityServer.ViewModels.Register.ResetPasswordViewModel

@{
    ViewData["Title"] = "Ripristina Password";
    Layout = "_Layout";
}

<div class="container">

    <div class="text-left">
        <h1 class="display-4 mb-2">@ViewData["Title"]</h1>
        <h5>Compila i seguenti campi per ripristinare la password!</h5>
    </div>

    <div class="row">
        <div class="col-md-8">
            <form class="form-horizontal" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">

                <partial name="_ValidationSummary"/>

                <div class="form-group">
                    <label asp-for="@Model.Email"></label>
                    <input asp-for="@Model.Email" class="form-control"/>
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Password"></label>
                    <input asp-for="@Model.Password" class="form-control"/>
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.ConfirmPassword"></label>
                    <input asp-for="@Model.ConfirmPassword" class="form-control"/>
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                </div>

                <input asp-for="@Model.Code" type="hidden"/>

                <button type="submit" class="btn btn-outline-success w-25">Reset</button>

            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}