@model RecoverPasswordViewModel

@{
    ViewBag.Title = "Recupera password";
    Layout = "_Layout";
}

<div class="container">

    <div class="text-left">
        <h1 class="display-4 mb-2">@ViewData["Title"]</h1>
        <h5>Password dimenticata? Inserisci la tua email!</h5>
    </div>

    <div class="row">
        <div class="col-md-8">
            <form class="form-horizontal" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">

                <div class="form-group">
                    <label asp-for="@Model.Email"></label>
                    <input asp-for="@Model.Email" class="form-control"/>
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-outline-success w-25">Recupera</button>

            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}